In [1]:
# Mengimport Library 
import pickle
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
# Mebuka file pkl
with open('pipeline.pkl', 'rb') as file_1:
    pipeline_kmeans = pickle.load(file_1)

In [3]:
# Membuat dataset baru df_inf memasukkan data
df_inf= {
    'BALANCE':442.613643,
    'BALANCE_FREQUENCY':0.454545,
    'PURCHASES':610.00,
    'ONEOFF_PURCHASES': 357.40,
    'INSTALLMENTS_PURCHASES':92.07,
    'CASH_ADVANCE':762.301096,
    'PURCHASES_FREQUENCY':0.125	,
    'ONEOFF_PURCHASES_FREQUENCY':0.363636,
    'PURCHASES_INSTALLMENTS_FREQUENCY':0.454545,
    'CASH_ADVANCE_FREQUENCY':0.272727,
    'CASH_ADVANCE_TRX':7,
    'PURCHASES_TRX':5,
    'CREDIT_LIMIT':5500.0,
    'PAYMENTS':290.129620,
    'MINIMUM_PAYMENTS':277.084736, 
    'PRC_FULL_PAYMENT':0.000,
    'TENURE':7,
}
df_inf = pd.DataFrame([df_inf])
df_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,442.613643,0.454545,610.0,357.4,92.07,762.301096,0.125,0.363636,0.454545,0.272727,7,5,5500.0,290.12962,277.084736,0.0,7

In [4]:
df_inf.drop('TENURE', axis=1, inplace=True)

In [7]:
# Memprediksi cluster dari data
pred = pipeline_kmeans.predict(df_inf)

print('Customer ini termasuk pada CLUSTER:', round(pred[0],2))

Customer ini termasuk pada CLUSTER: 1